        <div class="card-space">
            <mat-card>
                <mat-card-header>
                    <h1>Gestão de Check-In/Check-out</h1>
                    <mat-icon>info</mat-icon>
                    <span class="space"></span>
                    <mat-form-field appearance="outline">
                        <mat-label>Período</mat-label>
                        <input matInput placeholder="Período">
                        <mat-icon matSuffix>calendar_today</mat-icon>
                      </mat-form-field>
                </mat-card-header>
                <mat-card-content>
                    <div class="row mb-2 pb-2 mt-2">
                        <div class="col">
                            <h2>Abertura e Fechamento das lojas</h2>
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <div class="chart-container">
                                        <canvas id="myChart">{{ chart }}</canvas>
                                    </div>
                                </div>
                                <div class="col-4">
                                    Bar code
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h2>Atividades Mensais</h2>
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <div class="chart-container-atividades">
                                        <canvas id="atividades">{{ chart }}</canvas>
                                    </div>
                                </div>
                                <div class="col-4">
                                    Bar code
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
 
    
    