<div class="card-space mt-2">
  <mat-card>
    <mat-card-header>
      <h1>Indice CERTO</h1>
      <mat-icon>info</mat-icon>
      <span class="space"></span>
      <mat-icon>more_vert</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <div class="row align-items-center">
        <div class="col">
          <h2>Chamas</h2>
          <p class="sum">1235,02</p>
        </div>
        <div class="col">
          <h2>Quadrante Atual</h2>
          <p class="actual">A</p>
        </div>
      </div>
      <div class="tbodyDiv">
        <table class="table table-fixed mt-3">
          <thead>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td colspan="5">{{ product.product }}</td>
              <td>
                <span *ngIf="product.amount == '0,00'"
                  ><img
                    class="logo"
                    src="../../assets/img/gray-logo-santander.jpeg" /></span
                >
                <span *ngIf="product.amount !== '0,00'"
                  ><img
                    class="logo"
                    src="../../assets/img/logo-santander-icon-.png" /></span
                >{{product.amount}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </mat-card-content>
  </mat-card>
</div>
