@import '../../styles.scss';

.mat-card {
    border: 1px black;
    font-size: 16px;
}

.card-space {
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;

}

.space {
    flex: 1 1 auto;
}

table {
    width: 90%;
    height: 30%;
    overflow-x: auto;
}

td {
    color: #575353;
    align-items: end;
}

.sum {
    font-size: 40px;
    font-weight: bold;
}

.actual {
    font-size: 30px;
    color: greenyellow;
    font-weight: bold;
}

.logo {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    align-items: center;
}
  