@import '../../styles.scss';

.mat-card {
    border: 1px black;
    font-size: 16px;
}

.card-space {
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;

}

.space {
    flex: 1 1 auto;
}

table {
    width: 95%;
    height: 30%;
    overflow-x: scroll;
}

td {
    color: #575353;
    float: inline-end;
    width: 75%;
}

tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
}

.tbodyDiv{
    max-height: clamp(5em,20vh,350px);
    overflow: auto;
    }

.sum {
    font-size: 40px;
    font-weight: bold;
}

.actual {
    font-size: 30px;
    color: greenyellow;
    font-weight: bold;
}

.logo {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    align-items: center;
}

h1 {
    font-size: 16px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    color: gray;
}